ag-ui-protocol==0.1.9
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.21.0
alembic==1.17.1
annotated-doc==0.0.3
annotated-types==0.7.0
anthropic==0.72.0
anyio==4.11.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.10.0
asyncio-mqtt==0.16.2
asyncpg==0.30.0
attrs==25.4.0
authlib==1.6.5
backoff==2.2.1
banks==2.2.0
bcrypt==5.0.0
beartype==0.22.4
beautifulsoup4==4.14.2
bidict==0.23.1
blinker==1.9.0
blis==1.3.0
boto3==1.40.62
botocore==1.40.62
brotli==1.1.0
build==1.3.0
cachetools==6.2.1
catalogue==2.0.10
certifi==2025.10.5
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
chromadb==1.3.0
click==8.3.0
cloudpathlib==0.23.0
cohere==5.20.0
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.5
configargparse==1.7.1
contourpy==1.3.3
coverage==7.11.0
cryptography==44.0.3
cycler==0.12.1
cyclopts==4.1.0
cymem==2.0.11
dataclasses-json==0.6.7
defusedxml==0.7.1
deprecated==1.3.0
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring-parser==0.17.0
docutils==0.22.2
durationpy==0.10
email-validator==2.3.0
emoji==2.15.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
eval-type-backport==0.2.2
exceptiongroup==1.3.0
execnet==2.1.1
executing==2.2.1
faker==37.12.0
fasta2a==0.6.0
fastapi==0.120.2
fastavro==1.12.1
fastmcp==2.13.0.2
filelock==3.20.0
filetype==1.2.0
flask==3.1.2
flask-cors==6.0.1
flask-login==0.6.3
flatbuffers==25.9.23
fonttools==4.61.0
frozenlist==1.8.0
fsspec==2025.9.0
genai-prices==0.0.35
gevent==25.5.1
geventhttpclient==2.3.5
google-auth==2.42.0
google-genai==1.47.0
googleapis-common-protos==1.71.0
grafana-api==1.0.3
greenlet==3.2.4
griffe==1.14.0
groq==0.33.0
grpcio==1.76.0
gunicorn==23.0.0
h11==0.16.0
hf-xet==1.2.0
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.36.0
humanfriendly==10.0
idna==3.11
importlib-metadata==8.7.0
importlib-resources==6.5.2
inflection==0.5.1
iniconfig==2.3.0
invoke==2.2.1
itsdangerous==2.2.0
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.3.0
jeepney==0.9.0
jinja2==3.1.6
jiter==0.11.1
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
keyring==25.6.0
kiwisolver==1.4.9
kubernetes==34.1.0
langchain==1.0.3
langchain-core==1.0.2
langcodes==3.5.0
langdetect==1.0.9
langgraph==1.0.2
langgraph-checkpoint==3.0.0
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.38
language-data==1.3.0
llama-cloud==0.1.35
llama-cloud-services==0.6.54
llama-index==0.12.52
llama-index-agent-openai==0.4.12
llama-index-cli==0.4.4
llama-index-core==0.12.52.post1
llama-index-embeddings-huggingface==0.5.5
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.8.0
llama-index-instrumentation==0.4.2
llama-index-llms-groq==0.3.2
llama-index-llms-openai==0.4.7
llama-index-llms-openai-like==0.4.0
llama-index-multi-modal-llms-openai==0.5.3
llama-index-program-openai==0.3.2
llama-index-question-gen-openai==0.3.1
llama-index-readers-file==0.4.11
llama-index-readers-llama-parse==0.4.0
llama-index-vector-stores-chroma==0.4.2
llama-index-workflows==1.3.0
llama-parse==0.6.54
locust==2.41.6
locust-cloud==1.27.9
logfire==4.14.2
logfire-api==4.14.2
loguru==0.7.3
lxml==6.0.2
mako==1.3.10
marisa-trie==1.3.1
markdown-it-py==4.0.0
markdownify==1.2.0
markupsafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
mcp==1.19.0
mdurl==0.1.2
memory-profiler==0.61.0
minio==7.2.18
mistralai==1.9.11
mmh3==5.2.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
murmurhash==1.0.13
mypy-extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.5
nexus-rpc==1.1.0
nltk==3.9.2
numpy==2.3.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
oauthlib==3.3.1
olefile==0.47
onnxruntime==1.23.2
openai==1.109.1
openapi-pydantic==0.5.1
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-exporter-otlp-proto-http==1.38.0
opentelemetry-instrumentation==0.59b0
opentelemetry-instrumentation-aiohttp-client==0.59b0
opentelemetry-instrumentation-asgi==0.59b0
opentelemetry-instrumentation-asyncpg==0.59b0
opentelemetry-instrumentation-dbapi==0.59b0
opentelemetry-instrumentation-fastapi==0.59b0
opentelemetry-instrumentation-httpx==0.59b0
opentelemetry-instrumentation-llamaindex==0.47.5
opentelemetry-instrumentation-psycopg==0.59b0
opentelemetry-instrumentation-requests==0.59b0
opentelemetry-instrumentation-system-metrics==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-semantic-conventions-ai==0.4.13
opentelemetry-util-http==0.59b0
orjson==3.11.4
ormsgpack==1.11.0
overrides==7.7.0
packaging==25.0
paho-mqtt==2.1.0
pandas==2.2.3
pathable==0.4.4
pathvalidate==3.3.1
phonenumbers==9.0.17
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
posthog==5.4.0
preshed==3.0.10
presidio-analyzer==2.2.360
presidio-anonymizer==2.2.360
prometheus-client==0.23.1
prompt-toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.2
psycopg2-binary==2.9.11
py-key-value-aio==0.2.8
py-key-value-shared==0.2.8
pyasn1==0.6.1
pyasn1-modules==0.4.2
pybase64==1.4.2
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.3
pydantic-ai==1.9.0
pydantic-ai-slim==1.9.0
pydantic-core==2.41.4
pydantic-evals==1.9.0
pydantic-graph==1.9.0
pydantic-settings==2.11.0
pygments==2.19.2
pympler==1.1
pyparsing==3.2.5
pypdf==5.9.0
pyperclip==1.11.0
pypika==0.48.9
pyproject-hooks==1.2.0
pysqlite3-binary==0.5.4
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-mock==3.15.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-engineio==4.12.3
python-iso639==2025.2.18
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
python-socketio==5.14.3
pytz==2025.2
pyyaml==6.0.3
pyzmq==27.1.0
rapidfuzz==3.14.1
redis==7.0.1
referencing==0.36.2
regex==2025.10.23
requests==2.32.5
requests-file==3.0.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.2.0
rich-rst==1.3.2
rpds-py==0.28.0
rsa==4.9.1
s3transfer==0.14.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
secretstorage==3.4.0
sentence-transformers==5.1.2
sentry-sdk==2.43.0
setuptools==80.9.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
smart-open==7.4.1
sniffio==1.3.1
soupsieve==2.8
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlalchemy==2.0.44
srsly==2.5.1
sse-starlette==3.0.2
starlette==0.49.1
striprtf==0.0.26
sympy==1.14.0
tabulate==0.9.0
temporalio==1.18.0
tenacity==9.1.2
thinc==8.3.6
threadpoolctl==3.6.0
tiktoken==0.12.0
tldextract==5.3.0
tokenizers==0.22.1
torch==2.9.0
tqdm==4.67.1
transformers==4.57.1
triton==3.5.0
typer==0.20.0
types-protobuf==6.32.1.20250918
types-requests==2.32.4.20250913
typing-extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2025.2
unstructured==0.18.15
unstructured-client==0.42.3
urllib3==2.3.0
uvicorn==0.38.0
uvloop==0.22.1
vadersentiment==3.3.2
wasabi==1.1.3
watchfiles==1.1.1
wcwidth==0.2.14
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
werkzeug==3.1.3
wrapt==1.17.3
wsproto==1.2.0
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zope-event==6.0
zope-interface==8.0.1
zstandard==0.25.0
