fastapi
uvicorn
pydantic
python-dotenv
chromadb
sqlalchemy
asyncpg
psycopg2-binary
sentry-sdk
gunicorn
minio
beautifulsoup4
requests
aiohttp
html2text
markdownify
chardet
llama_index
python-multipart
pysqlite3-binary
pydantic-ai[logfire]
llama-index-vector-stores-chroma